<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf8">
</head>

<body ng-app="requirementsApp" ng-cloak>

  <div class="container" ng-controller="newReqCtrl">
    <form novalidate>
      Description: <input type="text" ng-model="newRequirement.desc" /><br />
      Item Number: <input type="text" ng-model="newRequirement.itemNum" /><br />
      Order: <input type="number" ng-model="newRequirement.order" /><br />
      Part of Award: <input type="text" ng-model="newRequirement.award" /><br />
      Is Award: <input type="checkbox" ng-model="newRequirement.isAward" /><br />
      Type: <br />
      <select>
        <option>Requirement</option>
        <option>Rank</option>
        <option>Merit Badge</option>
      </select>
      Prerequisites: <br />
      <ul>
        <li ng-repeat="prereq in currentPrereqs">{{prereq.id}}</li>
      </ul>
      <select>
        <option ng-repeat="requirement in requirementList" ng-model="newPrereq">{{requirement}}</option>
      </select>
      <button ng-click="addNewPrereq(newPrereq)">Add Prereq</button>
      <button ng-click="addNewRequirement()">Create Requirement</button>
    </form>
  </div>

  <!--Bower dependencies-->
  <script src="bower_components/angular/angular.js"></script>
  
  <!-- app scripts -->
  <script src="requirements.js"></script>
  <script src="app.js"></script>
</body>

</html>